.t {
  width: 5rem;
  height: 2.5rem;
  border-radius: 20px;
  border: 1px solid #999;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.t-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.t-button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}
