/* MEDIA QUERIES */

/* rem and em do NOT depend on html font size in media queries */

/* 1rem = 1em = 16px */

/* Tablet - 760px */
/* Laptop and small screen - 1200px */

/**********************************/
/* BELOW 1344px (Smaller desktops) */
/* 1350 (container size) / 16 (default
font size = 84em  */
/**********************************/
@media screen and (max-width: 86em) {
  html {
    /* 8px / 16px = 0.5 (50%) [default font-size: 10] */
    font-size: 50%;
  }

  .i-left-wrapper {
    padding: 1rem;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 0.5rem;
  }

  .i-name,
  .i-desc {
    margin-bottom: 3rem;
  }

  .i-social {
    margin-bottom: 2rem;
  }
}

/**********************************/
/* BELOW 544px (phones]) */
/**********************************/
@media screen and (max-width: 32em) {
  html {
    /* 8px / 16px = 0.5 (50%) [default font-size: 10] */
    font-size: 50%;
  }

  .n-icon {
    display: flex;
    position: fixed;
    z-index: 999;
    top: 2rem;
    left: 1.6rem;
  }

  .nav-bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    height: 50vh;
    width: 100vw;
  }

  .nav-wrapper.active .nav-bar {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }

  .nav-wrapper.inactive .nav-bar {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .i {
    flex-direction: column-reverse;
    padding-bottom: 1rem;
  }

  .i-left {
    flex: initial;
  }

  .i-right {
    flex: initial;
    position: initial;
  }

  .i-left-wrapper {
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    gap: 0.5rem;
  }

  .i-name,
  .i-desc {
    margin-bottom: 3rem;
  }

  .i-social {
    margin-bottom: 2rem;
  }

  .i-img {
    height: 50%;
    object-fit: contain;
    position: absolute;
    right: 0;
    top: 0;
  }

  .i-bg {
    width: 100%;
    height: 50%;
  }

  .a {
    height: initial;
    padding-bottom: 10rem;
  }

  .a-left {
    display: none;
  }

  .a-title {
    margin-bottom: 2rem;
    padding-top: 5rem;
    text-align: center;
  }

  .a-right {
    padding: 5rem;
  }

  .a-award {
    margin-top: 5rem;
    gap: 1.2rem;
  }

  .a-award-title {
    font-size: 1.6rem;
  }

  .pl {
    padding: 10rem 2.5rem 10rem 2.5rem;
    height: 80vh;
  }

  .p {
    width: 95%;
    height: 10vh;
  }

  .pl-texts {
    width: initial;
  }

  .c-bg {
    display: none;
  }

  .c-wrapper {
    display: initial;
    padding: 2rem;
  }

  .c-left {
    padding: 5rem 5rem 0 5rem;
  }

  .c-title {
    font-size: 2.4rem;
  }

  .c-info-item {
    margin: 2rem 0;
  }

  .c-right {
    padding: 5rem;
  }

  .c-desc {
    font-size: 1.6rem;
  }
}
