/* General colors */
.fa-linkedin-in:hover,
.fa-linkedin-in:active {
  color: #0a66c2;
}
.fa-github:hover,
.fa-github:active {
  color: #6e5494;
}
.instagram-link,
.fa-instagram:hover,
.fa-instagram:active,
.eyz-insta:hover,
.eyz-insta:active {
  color: #c13584;
}

/* Button colors */
.btn-resume:hover,
.btn-resume:active {
  background-color: red;
}
.btn-resume:link,
.btn-resume:visited {
  color: black;
}

/* **************************************** */
/* THEMES */
/* ---------------------- */
/* Light theme */
/* ---------------------- */

/* MAIN */
.container.light {
  background-color: #fff;
  color: #333333;
  transition: all 0.3s;
}

/* Intro section */
.i.light .i-title-item {
  color: #59b256;
}

.i.light .i-bg {
  background-color: #59b256;
}

/* About section */
.a.light .a-card.bg.light {
  background-color: #333;
}

/* Contact section */
.c.light .c-bg {
  background-color: #59b256;
}

.c.light button {
  background-color: #59b256;
  color: white;
}

/* Toggle theme */
.t.light {
  background-color: white;
}

.t.light .t-button {
  background-color: #999;
}

/* ---------------------- */
/* Dark theme */
/* ---------------------- */

/* MAIN */
.container.dark {
  background-color: #222;
  color: #fff;
  transition: all 0.3s;
}

/* Intro section */
.i.dark .i-title-item {
  color: #59b256;
}

.i.dark .i-bg {
  background-color: #59b256;
}

/* About section */
.a.dark .a-card.bg {
  background-color: #333;
}

/* Contact section */
.c.dark .c-bg {
  background-color: #59b256;
}

.c.dark button {
  background-color: #59b256;
  color: white;
}

/* Toggle theme */
.t.dark {
  background-color: white;
}

.t.dark .t-button {
  background-color: #999;
}
